@media (min-width: 360px) and (max-width: 2000px) {

    body {
        margin-top: 20px;
    }

    .avatar {
        width: 200px;
        height: 200px;
    }

    h1.header-text {
        color: black;
    }

    button.btn.btn-danger {
        cursor: pointer;
        margin-top: 10px;
    }

    .btn-danger:active {
        transform: scale(0.98);
    }

    button.btn.btn-primary {
        cursor: pointer;
        margin-top: 10px;
    }

    .btn-primary:active {
        transform: scale(0.98);
    }

}