<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>

<h1>This is the landing page</h1>

<form th:action="@{/update-custom-meal}" method="post" th:object="${custom_meal}">
    <label>ID: </label>
    <input th:field="*{id}" readonly>

    <label for="calories">Calories: </label>
    <input type="text" id="calories" th:field="*{calories}">

    <label for="query">Query:  </label>
    <input type="text" id="query" th:field="*{query}">

    <label for="user_id">UserID</label>
    <input id="user_id" th:field="*{user}" readonly>

    <button type="submit">Submit</button>
</form>

</body>
</html>