<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="about-us.css">
    <title>MyFit Tracker</title>

    <script>
        $(function(){
            $("#navbar").load("partials/navbar.html");
        });
    </script>
</head>
<body>
<div id="navbar"></div>


<h1 class="first-text">ABOUT US</h1>
<hr>
<h1 class="second-text">Hi, you're using MyFit Tracker</h1>
<div class="column">
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi atque deleniti expedita perferendis possimus quo rerum saepe vero voluptatum! A est magnam quam quis quisquam. Deserunt perspiciatis quas suscipit.</h4>
</div>
<h1 class="third-text">Meet The Team</h1>
<div class="column2">
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad, consequatur cupiditate dignissimos error est eveniet, expedita maiores minus nam neque nihil nisi nulla odio porro suscipit voluptatibus? Dolor, odit?</h4>
</div>

</body>
</html>