@media (min-width: 360px) and (max-width: 2000px) {

    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap');

    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://png2.cleanpng.com/sh/c8fc421fafa4d10cf6e9e3dd165aa910/L0KzQYm3VcE1N6p6fZH0aYP2gLBuTgNxd6N5ReJxeYPsc7LzTfVlfZRmjNt4bj32c7n2jBwubalqitVyc3WwRbLtWcE5bmk4T6VrYkSxQYe8U8Q0O2Q2TaQBMke3Qoq9UsI3Ol91htk=/kisspng-sport-physical-education-school-exercise-5af918f8373bb4.1653433315262742962262.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    h1.first-text {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        margin-top: 30px;
        color: #eeeeee;
    }

    h1.second-text {
        /*width: 500px;*/
        color: #eeeeee;
        padding-bottom: 1px;

    }

    h1.third-text {
        /*width: 500px;*/
        color: #eeeeee;
        margin-top: 80px;
        padding-bottom: 30px;
    }

    div.column {
        width: 70%;
        color: #eeeeee;
    }
    div.row {
        flex-wrap: wrap;
        justify-content: center;
        background-color: transparent;
    }

    div.card {
        background-color: #eeeeee;

    }
    .avatar {
        width: 170px;
        /*height: 500px;*/
    }


}
