@media (min-width: 360px) and (max-width: 2000px) {

    body {
        margin-top: 20px;
    }

    .avatar {
        width: 200px;
        height: 200px;
    }

    h1.header-text {
        color: black;
    }


    button.btn.btn-danger {
        margin-top: 10px;
    }
}