<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"
    ></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <script>
        $(function(){
            $("#navbar").load("../partials/navbar.html");
        });
    </script>

    <link rel="stylesheet" href="../bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css" />
    <script src="../bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js"></script>

    <!--    <style>-->
    <!--        .card {-->
    <!--            -->
    <!--        }-->
    <!--    </style>-->

    <title>Register</title>

    <style>
        .card:hover {
            background-color: blue;
        }
    </style>

</head>
<body>
<div id="navbar"></div>


<h1>Nutrition Search</h1>

<div class="food_container">
    <h2>Add Meal to Daily Log</h2>
    <div class="line"></div>
    <div style="display: flex;">
        <h3>Search food by name:</h3>

    </div>
    <div style="display: flex;">
        <form class="pure-form" id="searchForm">
            <input class="pure-input-rounded" id='input'>
            <button type="button" class="pure-button" onclick="searchItem()">Search Food</button>
        </form>
    </div>
    <form th:action="@{/create-custom-exercise}" method="post" th:object="${custom_exercise}">
        <label for="calories">Calories: </label>
        <input id="calories" th:field="*{calories}">

        <label for="query">Query: </label>
        <input id="query" th:field="*{query}">

        <label for="user-id">User's ID: </label>
        <input id="user-id" th:field="*{user.id}">

        <button type="submit">Submit</button>
    </form>
    <form id="search-form" th:object="${user}">
        <label for="query1">Query: </label>
        <input name="query1" id="query1">

        <button type="submit">Click me</button>
    </form>

    <div style="display: flex;margin-top: 20px;">
        <h3>Or, add a custom</h3>
        <div class="food_container__deafult_down_arrow_image" id="deafult_down_arrow"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlcLbqk2RP_J0IpgUsCBX4cqCmnCGEbmJ0TA&usqp=CAU"
                alt="down_arrow" height="20px" width="20px"/></div>
    </div>
    <div style="display: flex;margin-top: 20px;">
        <button class="food_container__add_checked_button" id="add_food_button">Add </button>
        <div style="margin-left: 100px; border-bottom: 2px solid #0072BC; display:flex;">
            <div class="food_container__add_checked_elements">RECENT</div>
            <div class="food_container__add_checked_elements">FREQUENT</div>
            <div class="food_container__add_checked_elements">FOODS</div>
            <div class="food_container__add_checked_elements">MEELS</div>
            <div class="food_container__add_checked_elements">RECIPES</div>

        </div>
    </div>
    <div style="display: flex;">
        <div class="food_show_div">
            <p id="exercise_show">You have not added any breakfast yet.</p>
            <ul id="food_information"></ul>
            <p><b>TIP:</b> As you enter foods to your food diary, the foods you've eaten most recently will appear in this list so that you can quickly add them <br/>to your meals.</p>
        </div>



    </div>
    <div style="display: flex;">
        <button class="food_container__add_checked_button" style="margin-top: 20px;">Add Checked</button>
        <button class="food_container__add_checked_button" style="margin-top: 20px;margin-left: 750px;">View Deleted Items</button>
    </div>
    <p style="margin-top: 20px;">Note : Checked items from all tabs will be added</p>
    <div  id="food_form_container"></div>
</div>
<!-- add food page container ends here -->
<div id="results">

</div>



<script>
    $('#date').datepicker({
        autoclose:true
    });

</script>

<script>
    function getSearchResults(item) {
        var resultItems;
        $("#results").html("");

        $.ajax({
            type: 'GET',
            async: false,
            url: 'https://api.nutritionix.com/v1_1/search/'+item+'?fields=item_name' +
                '%2Citem_id%2Cbrand_name%2Cnf_calories%2Cnf_total_fat&appId=91d21742&appKey=016757a1fa92455923691cf0fd341fc3',
            success: function(data) {
                resultItems = data.hits;
            },

        });

        resultItems.map(function(i) {
            var item = i.fields
            console.log(item)
            $('#results').append(
                '<div class="card">'+
                '<button type="submit" class="add">add</button>' +
                '<h2>' + item.item_name + '<h2>' +
                '<h3>Calories: ' + item.nf_calories + '<h3>' +
                '<h3>Serving Size: ' + item.nf_serving_size_qty + ' ' + item.nf_serving_size_unit +'<h3>' +
                '<h3>Total Fat: ' + item.nf_total_fat + '<h3>' +
                '</div>'
            );
        });
    }

    function searchItem() {
        var formVal = document.getElementById('input').value;
        document.getElementById('searchForm').reset();
        getSearchResults(formVal);
    }

    $("#searchForm").submit(function(e) {
        e.preventDefault();
        searchItem();
    });



    $(document).on('click', '.add', function() {
        $(this).html('Added To Daily Log')
        const newMovieObj = $('#results').append(
            '<div class="card">'+
            '<button type="submit" class="add">add</button>' +
            '<h2>' + item.item_name + '<h2>' +
            '<h3>Calories: ' + item.nf_calories + '<h3>' +
            '<h3>Serving Size: ' + item.nf_serving_size_qty + ' ' + item.nf_serving_size_unit +'<h3>' +
            '<h3>Total Fat: ' + item.nf_total_fat + '<h3>' +
            '</div>'
        );
        return newMovieObj;
    })
</script>
<script>
    // TEST CODE TO MAKE SURE THE API WILL WORK

    let form = document.getElementById("search-form");
    form.addEventListener("submit", async function(event) {
        event.preventDefault();
        let weight = event.target.elements.user_weight.value * 0.453592;
        let height = event.target.elements.user_height.value * 2.54;
        let requestBody = {
            "query": event.target.elements.query1.value,
            "gender": event.target.elements.user_gender.value,
            "weight_kg": weight,
            "height_cm": height,
            "age": event.target.elements.user_age.value
        }
        console.log(requestBody)
        await fetch("https://trackapi.nutritionix.com/v2/natural/exercise", {
            headers: {
                "x-app-id": "c1e0a46a",
                "x-app-key": "3cbe6be390fb13028c6f5f48a2e4df8d",
                "Content-Type": "application/json"
            },
            body: JSON.stringify(requestBody),
            method: "POST"
        }).then(resp => resp.json()).then(data => {
            console.log("The total calories burned are: " + data.exercises[0].nf_calories)
            console.log(data)
        }).catch(function() {
            alert("That query is not recognized.")
        })
    })
</script>

</body>
</html>