<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>

<h1>Create custom exercise</h1>

<form th:action="@{/create-custom-exercise}" method="post" th:object="${custom_exercise}">
    <label for="calories">Calories: </label>
    <input id="calories" th:field="*{calories}">

    <label for="query">Query: </label>
    <input id="query" th:field="*{query}">

    <label for="user-id">User's ID: </label>
    <input id="user-id" th:field="*{user}">

    <button type="submit">Submit</button>
</form>

<label for="query1">Query: </label>
<input id="query1">

<script>
    let query = document.getElementById("query1");
    query.addEventListener("input", (event) => {
        console.log(event.target.value)
    })
    console.log(query)
</script>
</body>
</html>