<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Custom Exercises</title>
</head>
<body>
<div id="navbar" th:replace="partials/navbar :: navbar"></div>

<h1>All Custom Exercises: </h1>

<div th:each="item: ${custom_exercises}">
    <p th:text="${item.getId()}">ID: </p>
    <p th:text="${item.getCalories()}">Calories: </p>
    <p th:text="${item.getQuery()}">Query: </p>

    <a th:href="@{/update-custom-exercise/{id}(id = ${item.getId()})}"><button class="edit-button">Edit</button></a>
    <form th:action="@{/delete-custom-exercise/{id}(id = ${item.getId()})}" method="post">
        <button type="submit">Delete</button>
    </form>
</div>

<a href="/create-custom-exercise"><button>Create custom exercise</button></a>

<script>
    // let editButtons = document.getElementsByClassName("edit-button");
    // let deleteButtons = document.getElementsByClassName("delete-button");
    //
    // for (var editButton in editButtons) {
    //     editButton.addEventListender
    // }

</script>
</body>
</html>